<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mars Rover Photos</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>
<body>
<div class="hero">
    <div class="container my-6">
        <form method="POST">
            {% csrf_token %}
            <button class="button is-primary" name="db_src">Load From Database</button>
            <button type="submit" class="button is-info" name="url_src">Load From URL</button>
            <button class="button" name="db_save">Save To Database</button>
        </form>
    </div>
    <section class="display">
        {% if mars_data %}
        <ul>
            {% for data in mars_data %}
            <li>
                <card>
                    <image src="{{data.image}}" class="card-image"></image>
                </card>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </section>
</div>

</body>
</html>