<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mars Rover Photos</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>
<body>
<div class="hero">
    <div class="container my-6">
        <form method="POST">
            {% csrf_token %}
            <input type="number" name="page" class="number" placeholder="Page no." required/>
            <button type="submit" class="button is-primary" name="db_src">Load From Database</button>
            <button type="submit" class="button is-info" name="url_src">Load From URL</button>
            <button type="submit" class="button" name="db_save">Save To Database</button>
        </form>
    </div>
    <section class="display">
        {% if mars_data %}
        <div class="is-flex is-flex-direction-row is-flex-wrap-wrap is-justify-content-between">
            {% for data in mars_data %}

            <image src="{{data.image}}" class="image is-128x128 m-2"></image>

            {% endfor %}
        </div>
        {% elif count %}
        <p>{{count}} images have been saved successfully.</p>
        {% endif %}
    </section>
</div>

</body>
</html>